# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment directory
venv/

# Ignore data directories
data/
*.csv
*.json
*.db
proxt_pool/

# Ignore database files
*.db
*.sqlite
*.sqlite3

# Ignore environment variables file
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db
